<a class="fa fa-thumbs-up user" href="/questions/<%= @question.id %>/votes/up"></a>
<span class="vote-count"><%= @question.points %></span>
<a class="fa fa-thumbs-down active user" href="/questions/<%= @question.id %>/votes/down"></a>
