<a class="fa fa-thumbs-up active user" href="/questions/<%= @question.id %>/votes/up"></a>

<span class="vote-count"><%= @question.points %></span>

<a class="fa fa-thumbs-down user" href="/questions/<%= @question.id %>/votes/down"></a>
