<form action ="/questions" method="post" id="question-form">
  <textarea rows="1" cols="50" name="question[title]" form="question-form" placeholder="Question Title" required></textarea>
  <textarea rows="4" cols="50" name="question[content]" form="question-form" placeholder="What do you want to ask the world about Shaq?" required></textarea>
  <input type="submit" value="Post Your Question" class="">
</form>
