<form action ="/questions" method="post" id="question-form">
  <textarea rows="1" cols="50" name="title" form="question-form" placeholder="Question Title"></textarea>

  <textarea rows="4" cols="50" name="question" form="question-form" placeholder="What do you want to ask the world about Shaq?"></textarea>
  <input type="submit" value="Post Your Question" class="">
</form>
