.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}




