.container {
  margin: 20px auto;
  max-width: 720px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
}

body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 720px;
  margin: 0 auto;
}

nav li {
  display: inline;
  line-height: 1.5;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.left-nav {

  display: inline-block;

}

.right-nav {

  display: inline-block;
}

#new-question {
  float: right;
}

.question-summary {
  padding: 10px 0 10px 0;
  border-bottom: solid 1px;
  vertical-align: middle;
}


.question-info {
  padding: 20px;
}

.inline {
  display: inline-block;
}

.count {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.stats {
  margin: 5px;
  padding: 10px;
}

.mini-text {
  font-size: 75%;
}

.vote-cell {
  width: 10%;
  display: inline-block;
}

.vote-cell a span {
  display: block;
  margin: 0;
}

.post-content {
  display: inline-block;
}

.question-title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid;
}

/*.question-cell {
  margin: 20px auto;
  padding: 20px;
}*/

.answers {
  margin: 20px auto;
  padding: 20px;
}

.new-answer {
  margin: 20px auto;
  padding: 20px;
}

a.fa {
  text-decoration: none;
  color: #8c8c8c;
  display: block;
  padding: 5px;
}

a.fa:hover {
  color: orange;
}

a.active {
  color: orange;
}

.vote-cell {
  text-align: center;
  display: inline-block;
}

.post-content {
  padding-left: 20px;
  max-width: 500px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
}

.answer-cell {
  padding: 10px 0 10px 0;
  margin: 10px 0;
  border-bottom: solid 1px #8c8c8c;
}

.favorite-cell {
  background: #d6c9d7;
  padding: 10px 0 10px 0;
  margin: 10px 0;
  border-bottom: solid 1px #8c8c8c;
}

.answer-count {
  padding-top: 20px;
  border-bottom: solid 1px;
}

.shaq {
    position: relative;
    border-radius: 20%;
    margin-left: 20px;

}
.bottom {
    position: absolute;
    bottom: 8px;
    left: 30%;
    font-size: 30px;
    color: #f0e6ff;
    font-style: bold;
}




