.container {
  margin: 20px auto;
  max-width: 720px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
}


body {
  counter-reset:section;
  background-color: #eee0ef;
  font-family: Verdana;
  max-width: 720px;
  margin: 0 auto;
}

nav li {
  display: inline;
  line-height: 1.5;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  outline: none;
}

.left-nav {
  display: inline-block;

}

.right-nav {
  float:right;
  display: inline-block;
}

#new-question {
  float: right;
  /*background: #8f34d9;*/
  background-image: -webkit-linear-gradient(top, #8f34d9, #d2c6e3);
  background-image: -moz-linear-gradient(top, #8f34d9, #d2c6e3);
  background-image: -ms-linear-gradient(top, #8f34d9, #d2c6e3);
  background-image: -o-linear-gradient(top, #8f34d9, #d2c6e3);
  background-image: linear-gradient(to bottom, #8f34d9, #d2c6e3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  border-width: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#new-question:hover{
  background: #fcec3c;
  background-image: -webkit-linear-gradient(top, #d2c6e3, #FFD700);
  background-image: -moz-linear-gradient(top, #d2c6e3, #FFD700);
  background-image: -ms-linear-gradient(top, #d2c6e3, #FFD700);
  background-image: -o-linear-gradient(top, #d2c6e3, #FFD700);
  background-image: linear-gradient(to bottom, #d2c6e3, #FFD700);
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgb(255,215,0), 0 17px 50px 0 rgb(255,215,0);
}

.question-summary {
  padding: 10px 0 10px 0;
  border-bottom: solid 1px;
  vertical-align: middle;
}


.question-info {
  padding: 20px;
}

.inline {
  display: inline-block;
}

.count {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.stats {
  margin: 5px;
  padding: 10px;
}

.mini-text {
  font-size: 75%;
}

.vote-cell {
  width: 10%;
  display: inline-block;
}

.vote-cell a span {
  display: block;
  margin: 0;
}

.post-content {
  display: inline-block;
}

.question-title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid;
}

.answers {
  margin: 20px auto;
  padding: 20px;
}

.new-answer {
  margin: 20px auto;
  padding: 20px;
}

a.fa {
  text-decoration: none;
  color: #8c8c8c;
  display: block;
  padding: 5px;
}

a.fa:hover {
  color: orange;
}

a.active {
  color: orange;
}

a:focus {
  outline: none;
}

.vote-cell {
  text-align: center;
  display: inline-block;
}

.post-content {
  padding-left: 20px;
  max-width: 500px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
}

.answer-cell {
  padding: 10px 0 10px 0;
  margin: 10px 0;
  border-bottom: solid 1px #8c8c8c;
}

.favorite-cell {
  background: #d6c9d7;
  padding: 10px 0 10px 0;
  margin: 10px 0;
  border-bottom: solid 1px #8c8c8c;
}

.answer-count {
  padding-top: 20px;
  border-bottom: solid 1px;
}

.shaq {
    position: relative;
    border-radius: 20%;
    margin-left: 20px;

}
.bottom {
    position: absolute;
    bottom: 25px;
    left: 38%;
    font-size: 30px;
    color: #f0e6ff;
    font-style: bold;
}




