<a class="fa fa-thumbs-up active" href="/answers/<%= @answer.id %>/votes/up"></a>
<span class="vote-count"><%= @answer.points %></span>
<a class="fa fa-thumbs-down" href="/answers/<%= @answer.id %>/votes/down"></a>
