<nav class="container">
  <div class="left-nav">
  <a href="/"><img src='/images/logo.png' alt="shaqoverflow-logo" class="left-nav"></a>
  </div>

  <div class="right-nav">
    <ul>
      <% if current_user %>
        <li><a href="/users/<%= session[:user_id] %>">profile</a></li>
        <li><a href="/logout">logout</a></li>
      <% else %>
        <li><a href="/register">sign up</a></li>
        <li><a href="/login">log in</a></li>
      <% end %>
    </ul>
  </div>
</nav>


